@using ZP50.Web.Common.Helpers
@using HtmlHelpers.BeginCollectionItem
@model ZP50.Web.Areas.Oratorio.Models.QuotaDaAcquistareModel

@using (Html.BeginCollectionItem("QuoteDaAcquistare"))
{
    <tr>
        <td>
            <div class="form-check">
                @Html.CheckBoxFor(model => Model.Aggiungi, new { @class = "form-check-input  position-static" })
                @Html.HiddenFor(model => model.ID)
            </div>
        </td>
        <td>@Model.Descrizione</td>
        <td>@Model.Costo.ToString("C")</td>
    </tr>
}
