<?xml version="1.0" encoding="utf-8"?>

<!-- Per altre informazioni su come usare la trasformazione Web.config, vedere https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
   <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=62.149.153.63;Database=MSSql172396;User Id=MSSql172396;Password=i5642na48a;"  providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="OratorioContext"
        connectionString="Server=62.149.153.63;Database=MSSql172396;User Id=MSSql172396;Password=i5642na48a;"  providerName="System.Data.SqlClient" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Nell'esempio riportato di seguito la trasformazione "Replace" sostituisce l'intera sezione
      <customErrors> del file Web.config.
      Poiché esiste una sola sezione customErrors nel nodo
      <system.web>, non è necessario utilizzare l'attributo"xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
