<?xml version="1.0" encoding="utf-8"?>

<!-- Per altre informazioni su come usare la trasformazione Web.config, vedere https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
   <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=62.149.153.63;Database=MSSql172396;User Id=MSSql172396;Password=i5642na48a;"  providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
     <add name="ApplicationContext"
       connectionString="Server=62.149.153.63;Database=MSSql172396;User Id=MSSql172396;Password=i5642na48a;"  providerName="System.Data.SqlClient"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <!-- 1. Replace these values with your Okta configuration -->
    <add key="okta:ClientId" value="0oakx8bmraxH9MGuu356" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="okta:ClientSecret" value="cxn-eRm7q7CC13VeiM7fpNR41xlfLxlJLhytyjTj" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="okta:OktaDomain" value="https://dev-958605.okta.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <!-- 2. Update the Okta application with these values -->
    <add key="okta:RedirectUri" value="https://www.zp50.it/Oratorio/Home" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="okta:PostLogoutRedirectUri" value="https://www.zp50.it/Account/PostLogout" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>


  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      Nell'esempio riportato di seguito la trasformazione "Replace" sostituisce l'intera sezione
      <customErrors> del file Web.config.
      Poiché esiste una sola sezione customErrors nel nodo
      <system.web>, non è necessario utilizzare l'attributo"xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>

  <system.webServer>

      <rewrite xdt:Transform="Insert">
        <rules>
          <clear />
          <rule name="Redirect to https" stopProcessing="true">
            <match url=".*" />
            <conditions>
              <add input="{HTTPS}" pattern="off" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>

  
</configuration>
