
<div class="card-deck">

    <div class="card col-xs-6">
        <div class="card-body">
            <a href="@Url.Action("Index", "Partecipanti")">
                <img class="img-fluid" src="~/Content/images/children.png" alt="Card image cap" width="100">
                </a>
                <h3>Partecipanti</h3>
                <p class="card-text">Gestisci le iscrizioni, le quote e i contatti di ogni partecipante</p>
        </div>
    </div>
    <div class="card col-xs-6">
        <div class="card-body">
            <a href="@Url.Action("Index", "Presenze")">
                <img class="img-fluid" src="~/Content/images/calendar.png" alt="Card image cap" width="100">
            </a>
            <h3>Presenze</h3>
            <p class="card-text d-sm-none d-md-block">Registra ingressi e uscite di ogni partecipante</p>
        </div>
    </div>
    <div class="card col-xs-6">
        <div class="card-body">
            <a href="@Url.Action("Index", "Quote")">
                <img class="img-fluid" src="~/Content/images/tickets.png" alt="Card image cap" width="100">
                </a>
                <h3>Quote</h3>
                <p class="card-text">Crea o modifica le quote di partecipazione</p>
        </div>
    </div>
    <div class="card col-xs-6">
        <div class="card-body">
            <a href="@Url.Action("Index", "Contatti")">
                <img class="img-fluid" src="~/Content/images/talk.png" alt="Card image cap" width="100">
                </a>
                <h3>Contatti</h3>
                <p class="card-text">Tutti i contatti utili</p>
        </div>
    </div>
</div>
