@using ZP50.Core.Misc
@model IEnumerable<ZP50.Core.CentroAscolto.SchedaIncontro>

<table class="table">
    <tr>
        <th>
            Creata il
        </th>
        <th>
            Sintesi
        </th>

        <th>
            Creata da
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreataIl)
        </td>
        <td>
            @item.Sintesi.Truncate(60)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreataDa)
        </td>
        <td>
            @Html.ActionLink("apri", "Edit", new { id = item.ID })
        </td>
    </tr>
    }

</table>
