@{ 
    ViewBag.Title = "Home";
}
<div class="bg-ascolto">
    <div class="jumbotron opacity-50">
        <div class="container">
            <h1 class="display-3">Centro di Ascolto</h1>

        </div>
    </div>

</div>